.quantity-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.input {
  display: inline-flex;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  width: 90px;
  outline: none;
  text-align: center;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.step-down-button {
  cursor: pointer;
  border: none;
  background: transparent;
  width: fit-content;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-up-button {
  composes: step-down-button;
}

.delete {
  border: none;
  background: transparent;
  padding: 0;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media (min-width: 330px) {
  .input {
    width: 100px;
  }
}

@media (min-width: 340px) {
  .input {
    width: 110px;
  }
}

@media (min-width: 340px) {
  .input {
    width: 120px;
  }
}

@media (min-width: 360px) {
  .quantity-container {
    flex-direction: row;
    align-items: center;
  }

  .input-container {
    gap: 5px;
  }
}

@media (min-width: 800px) {
  .input {
    width: 130px;
  }

  .delete {
    align-self: center;
  }
}

@media (min-width: 800px) {
  .input {
    height: 30px;
  }
}
