.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0 15px 15px;
  animation: expand 400ms ease-in-out;
  transform-origin: top;
  background: #000;
}

.menu-buttons {
  composes: menu;
  margin: 0;
  gap: 10px;
  list-style-type: none;
}

.menu .menu-buttons {
  padding: 0;
}

.menu-button-container {
  height: 100%;
  align-content: center;
  width: 80%;
  padding: 10px 4px 10px 4px;
  position: relative;
}

.menu-button-container:hover a {
  color: #000;
}

.menu-button-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  transition: width 250ms ease-out;
  border-radius: 3px;
}

.menu-button-container:hover {
  cursor: pointer;
}

.menu-button-container:hover::after {
  width: 100%;
}

@media (min-width: 400px) {
  .menu {
    padding: 20px 0 15px 30px;
  }
}

@media (min-width: 500px) {
  .menu {
    display: none;
  }
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }

  70% {
    transform: scaleY(1.1);
  }
  
  100% {
    transform: scaleY(1);
  }
}
