.cart-container {
  margin-bottom: 50px;
}

.cart {
  padding: 0 15px;
}

.heading {
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.cart-items {
  width: 100%;
  border-collapse: separate;
  border-bottom: 1px solid rgba(18, 18, 18, 0.2);
}

.visually-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

thead tr {
  border-bottom: 1px solid rgba(18, 18, 18, 0.2);
  display: flex;
  justify-content: space-between;
}

.cart th {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.6rem;
  letter-spacing: 0.13rem;
  color: rgba(51, 51, 51, 0.75);
  padding-bottom: 17px;
  text-align: left;
}

.total2,
.quantity-heading {
  display: none;
}

.cart th:nth-of-type(2),
.cart th:last-of-type {
  text-align: right;
}

.empty-cart {
  text-align: center;
}

.empty-cart-heading {
  font-size: 2rem;
  margin-bottom: 100px;
  text-transform: uppercase;
  color: #333333;
}

.home-link {
  text-decoration: none;
  background: #527e7c;
  color: #fff;
  border-radius: 20px;
  font-size: 1.1rem;
  padding: 15px 20px;
}

.home-link:hover {
  background: #4a7270;
}

@media (min-width: 500px) {
  .empty-cart-heading {
    font-size: 3rem;
  }
}
@media (min-width: 750px) {
  .cart {
    padding: 0 38px;
  }

  .cart-items {
    border-collapse: collapse;
  }

  thead tr {
    display: table-row;
  }

  th {
    border-bottom: 1px solid rgba(18, 18, 18, 0.2);
  }

  .quantity-heading,
  .total2 {
    display: table-cell;
  }

  .total1 {
    display: none;
  }

  .empty-cart-heading {
    font-size: 3.5rem;
  }
}

@media (min-width: 800px) {
  .heading {
    font-size: 3rem;
  }
}

@media (min-width: 1000px) {
  .empty-cart-heading {
    font-size: 4rem;
  }
}
