.promo {
  width: 70%;
  max-width: 700px;
  margin: 0 auto 50px;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  color: #333333;
  background: rgba(249, 231, 159, 0.4);
  background: rgba(211, 243, 241, 0.7);
  /* background: rgba(255, 179, 171, 0.3); */
  /* background: rgba(174, 225, 225, 0.3); */
  /* background: rgba(216, 180, 248, 0.3); */
}

.promo-heading {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 0 20px;
}

.cta {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: fit-content;
}

.cta span {
  letter-spacing: 3px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
  padding-bottom: 7px;
}

.cta svg {
  transform: translateX(-8px);
  transition: transform 0.3s ease;
  will-change: transform;
  padding-bottom: 7px;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.underline {
  position: relative;
  color: #333333;
}

.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #333333;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  will-change: transform;
}

.cta:hover .underline:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
