.cart {
  position: relative;
  border: 1px solid #333333;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 4px;
  overflow: hidden;
  cursor: pointer;
}

.cart:hover {
  background: linear-gradient(120deg, #fbe4e6, #e4e1f9, #d2f5f1);
}
