.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  border-radius: 5px;
  padding: 1rem;
}

.container p {
  margin: 0;
}

.customer-name {
  margin: 10px 0 0;
}

@media (min-width: 400px) {
  .container {
    max-width: unset;
  }
}
