.footer {
  display: flex;
  flex-direction: column;
  background: black;
  color: #B8B6B6;
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 20px 0;
  gap: 10px;
  border-bottom: 1px solid #B8B6B6;
}

.footer-section:first-of-type {
  padding-top: 0;
}

.footer-section:last-of-type {
  border-bottom: none;
}

.footer-heading {
  font-size: 0.7rem;
  text-transform: uppercase;
  align-self: center;
  color: white;
  margin: 0;
}

.footer-content p {
  font-size: 0.6rem;
  line-height: 1rem;
  margin: 0;
}

.contact-icon-and-p {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.footer-contact-icon {
  width: 20px;
}

.footer-link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.footer-link-list li {
  margin-bottom: 10px;
}

.footer-link-list li:last-of-type {
  margin-bottom: 0;
}

.footer-section:nth-of-type(2) {
  text-align: center;
}

.payment-icons-container {
  display: flex;
  gap: 5px;
}

.payment-icon {
  width: 30px;
}

.copyright {
  font-size: 0.6rem;
  margin: 0 auto;
}

@media (min-width: 550px) {
  .footer-content {
    width: 100%;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
  }

  .footer-section {
    border-bottom: none;
    width: fit-content;
    padding-top: 0;
  }

  .footer-heading:first-of-type {
    align-self: flex-start;
  }

  .footer-heading:last-of-type {
    width: 100%;
    text-align: center;
  }
}
