.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background: #000;
  z-index: 99;
  position: sticky;
  top: 0;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  gap: 50px;
  align-items: center;
  list-style-type: none;
  display: none;
}

.nav-button-container {
  height: 100%;
  align-content: center;
  position: relative;
  transition: background-color 250ms ease-out;
  min-width: 50px;
  justify-items: center;
}

.nav-button-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 250ms ease-out;
  will-change: width;
}

.nav-button-container:hover::after {
  width: 100%;
}

.nav-button-container:hover {
  cursor: pointer;
}

.cart-menu-close-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-icon {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
}

.x {
  composes: menu-icon;
}

@media (min-width: 400px) {
  .nav {
    padding: 5px 30px;
  }
}

@media (min-width: 600px) {
  .logo {
    height: 45px;
  }

  .nav {
    padding: 0 30px;
  }

  .nav-buttons {
    display: flex;
  }

  .menu-icon {
    display: none;
  }
}

@media (min-width: 800px) {
  .logo {
    height: 55px;
  }

  .nav {
    padding: 0 60px;
  }
}

@media (min-width: 1000px) {
  .nav-buttons {
    margin: 0 10rem 0 auto;
  }
}

@media (min-width: 1200px) {
  .nav {
    padding: 0 80px;
  }
}
