.cart {
  position: relative;
  border: 1px solid #333333;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 4px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
}

.cart:hover {
  background: #fff;
}

.cart:active {
  background: rgba(255, 234, 236, 0.5);
}
